---
import Sidenote from "./Sidenote.astro"

interface Props {
	paragraph?: boolean
	hide?: boolean
	script?: boolean
	noMarginTop?: boolean
}
const { paragraph, hide, script, noMarginTop } = Astro.props
---

{
	paragraph ? (
		<p>
			<Sidenote label={hide ? "plus" : "none"} toggle={hide} visible={!hide} noMarginTop={noMarginTop} script={script}>
				<slot />
			</Sidenote>
		</p>
	) : (
		<Sidenote label={hide ? "plus" : "none"} toggle={hide} visible={!hide} noMarginTop={noMarginTop} script={script}>
			<slot />
		</Sidenote>
	)
}
