---
import { getColor, type Palette } from "$utils/design/palettes"
import ArticleDate from "./ArticleDate.astro"
import { getImage } from "astro:assets"
import { Layouts } from "$utils/design/layouts"

interface Props {
	title?: string
	description?: string
	date?: Date
	cover?: ImageMetadata
	palette: Palette
	layouts: Layouts[]
	wide?: boolean
	anchorTop?: boolean
}
const { title, description, date, cover, palette, layouts, wide, anchorTop } = Astro.props

const optimizedCover = cover && (await getImage({ src: cover, width: Math.min(1920, cover.width) }))
const cormorant = layouts.includes(Layouts.cormorant)
---

<header
	class:list={[
		"px-[80px] text-[length:--font-size] leading-[--line-height] text-[--cover] medium:px-[40px] small:px-[20px] small:text-[length:--sm-font-size] small:leading-[--sm-line-height] dark:text-[--dark-cover]",
		{ "mb-12 flex min-h-[50vh] bg-cover bg-center pb-8": cover },
	]}
	style={{
		"--cover": cover ? "#fbf8f2" : getColor(palette.secondaryColor),
		"--dark-cover": cover ? "#fbf8f2" : getColor(palette.secondaryColor, "dark"),
		fontFamily: palette.baseFont,
		backgroundImage: optimizedCover
			? `linear-gradient(rgba(56, 48, 28, 0.394), rgba(75, 65, 35, 0.395)), url('${optimizedCover.src}')`
			: "none",
		backgroundPosition: anchorTop ? "top" : "center",
	}}
>
	<div
		class:list={[
			"m-auto",
			{
				"pb-20 pt-20": cormorant,
				"pt-8": !cormorant,
				"max-w-[700px]": wide,
				"max-w-[75ch]": !wide && cormorant,
				"max-w-prose": !wide && !cormorant,
			},
		]}
	>
		<h1
			class:list={["text-[--h1] dark:text-[--dark-h1]", { "mb-0 !leading-tight": cormorant }]}
			style={{
				"--h1": cover ? "#fbf8f2" : getColor(palette.baseColor),
				"--dark-h1": cover ? "#fbf8f2" : getColor(palette.baseColor, "dark"),
				fontFamily: palette.displayFont,
				fontStyle: cormorant ? "italic" : undefined,
				fontFeatureSettings: cormorant ? '"ss01" 01, "dlig" 1' : undefined,
			}}
		>
			{title}
		</h1>
		{
			description && (
				<p
					class:list={{ "!my-[1em]": cormorant }}
					style={{ fontFamily: cormorant ? "'Cormorant Upright', Cormorant, serif" : undefined }}
				>
					{description}
				</p>
			)
		}
		{
			date && (
				<p style={{ fontFamily: cormorant ? "'Cormorant Unicase'" : undefined }}>
					<ArticleDate date={date} /> – <a href={Astro.site}>Aurélien Dos Santos</a>
				</p>
			)
		}
	</div>
</header>
