---
import crypto from "node:crypto"

interface Props {
	title?: string
	places: any[]
	lat?: number
	lng?: number
	zoom?: number
}
const { title, places, lat, lng, zoom } = Astro.props

const uid = crypto.randomUUID()
---

{
	title && (
		<h2 class="mb-2 border-b border-zinc-300 px-8 pb-4 font-work-sans text-sm font-semibold">
			{title}
		</h2>
	)
}
<div id={uid} class:list={["flex flex-col", { "mb-8": title }]}>
	{
		places.map((place) => {
			return (
				<a
					class={
						"place flex px-6 py-2 text-sm transition-colors hover:bg-zinc-100" +
						(place.data.status == "done" ? " text-zinc-700" : " text-zinc-500")
					}
					href={`/places/${place.slug}`}
					data-lat={place.maps.geometry.location.lat}
					data-lng={place.maps.geometry.location.lng}
					data-icon={place.maps.icon}
				>
					<div class="font-medium">
						<img
							src={place.maps.icon}
							class="mb-[0.1em] mr-1 inline-block max-h-[0.8em]"
						/>{" "}
						{place.data.title}
					</div>
					<div class="grow" />
					{place.articles > 0 && (
						<div class="text-zinc-500">
							{place.articles > 1 ? `${place.articles} articles` : "1 article"}
						</div>
					)}
					<div>
						{place.data.status == "done"
							? place.data.review == "loved" && "❤️"
							: "À visiter"}
					</div>
				</a>
			)
		})
	}
	{
		lat && lng && zoom && (
			<div
				class="map mt-0 min-h-0 w-full cursor-pointer transition-all hover:bg-zinc-100"
				data-lat={lat}
				data-lng={lng}
				data-zoom={zoom}
			>
				<div class="px-[43px] py-2 text-sm font-medium text-zinc-500">
					Afficher la carte
				</div>
			</div>
		)
	}
</div>
