---
import { getPlacesData } from "$utils/remoteData"
import { getEntry } from "astro:content"
import crypto from "node:crypto"

interface Props {
	title?: string
	places: any[]
	lat?: number
	lng?: number
	zoom?: number
}
const { title, lat, lng, zoom } = Astro.props

const googleMapsData = await getPlacesData()

const places = (
	await Promise.all(
		Astro.props.places.map(async (place) => {
			if (typeof place === "string") {
				const test = place
				place = await getEntry("places", place)
				if (!place) {
					console.error(`Place ${test} not found`)
					return null
				}
				place.slug = place.slug.split("/")[1]
				place.maps = googleMapsData.find((p) => p.place_id == place.data.id)
			}
			return place
		})
	)
).filter((place) => place != null)

const uid = crypto.randomUUID()
---

{
	title && (
		<h2 class="mb-2 border-b border-zinc-300 px-8 pb-4 font-work-sans text-sm font-semibold">
			{title}
		</h2>
	)
}
<div id={uid} class:list={["not-prose flex flex-col", { "mb-8": title }]}>
	{
		places.map((place) => {
			return (
				<a
					class={
						"place flex gap-2 px-6 py-2 text-sm transition-colors hover:bg-zinc-100" +
						(place.data.status == "done" ? " text-zinc-700" : " text-zinc-500")
					}
					href={`/places/${place.slug}`}
					data-lat={place.maps.geometry.location.lat}
					data-lng={place.maps.geometry.location.lng}
					data-icon={place.maps.icon}
				>
					<div class="font-medium">
						<img src={place.maps.icon} class="mb-[0.1em] mr-1 inline-block max-h-[0.8em]" />{" "}
						{place.data.title}
					</div>
					<div class="grow" />
					{place.diaryEntries > 0 && (
						<div class="text-zinc-500">
							{place.articles > 1 ? `${place.articles} entrées` : "1 entrée"}
						</div>
					)}
					{place.articles > 0 && (
						<div class="text-zinc-500">
							{place.articles > 1 ? `${place.articles} articles` : "1 article"}
						</div>
					)}
					{place.data.status == "done" ? (
						place.data.review == "loved" && <div>❤️</div>
					) : (
						<div>Pas visité</div>
					)}
				</a>
			)
		})
	}
	{
		lat && lng && zoom && (
			<div
				class="map mt-0 min-h-0 w-full cursor-pointer transition-all hover:bg-zinc-100"
				data-lat={lat}
				data-lng={lng}
				data-zoom={zoom}
			>
				<div class="px-[43px] py-2 text-sm font-medium text-zinc-500">Afficher la carte</div>
			</div>
		)
	}
</div>
