---
import Image from "$components/Image.astro"
import Badge from "./Badge.astro"
import type { ValidContentEntrySlug } from "astro:content"
import { getEntryBySlug } from "astro:content"

interface Props {
	slug: ValidContentEntrySlug<"portfolio">
	layout: "vertical" | "horizontal"
}
const { slug, layout } = Astro.props

const entry = await getEntryBySlug("portfolio", slug)
const data = entry.data
---

<a
	class:list={[
		"group divide-fi-base-100 border-[1.5px] border-fi-base-100 transition duration-300 ease-in-out hover:divide-fi-base-150 hover:border-fi-base-150 active:divide-fi-base-200 active:border-fi-base-200",
		{
			"flex flex-col divide-y-[1.5px]": layout == "vertical",
			"group col-span-2 flex divide-x-[1.5px] medium:flex medium:flex-col medium:divide-x-0 medium:divide-y-[1.5px]":
				layout == "horizontal",
		},
	]}
	href={`/portfolio/${entry.slug}`}
>
	{
		data.image && (
			<Image
				src={data.image}
				width={750}
				class:list={[
					/*"aspect-[2.3/1] h-full bg-fi-base-200 object-cover brightness-[92%] contrast-[93%] grayscale invert-[19%] sepia-[30%] transition-all duration-300 ease-in-out group-hover:filter-none medium:aspect-[2.6/1]",
					{ "w-[188px] max-w-none medium:w-auto medium:max-w-full": layout == "horizontal" },*/
					"aspect-[2.3/1] h-full bg-fi-base-200 object-cover brightness-[100%] contrast-[100%] grayscale invert-[26%] sepia-[30%] transition-all duration-300 ease-in-out group-hover:filter-none medium:aspect-[2.6/1]",
					{ "w-[188px] max-w-none medium:w-auto medium:max-w-full": layout == "horizontal" },
				]}
				notZoomable
				alt=""
			/>
		)
	}
	<div class="relative p-6 transition">
		<div
			class:list={{ "flex flex-wrap gap-x-2 gap-y-[6px] medium:flex-col": layout == "horizontal" }}
		>
			<h3 class="font-medium">{data.title}</h3>
			<div
				class:list={[
					"-top-[14px] flex flex-wrap items-end gap-2 medium:absolute",
					{ absolute: layout == "vertical" },
				]}
			>
				{data.tools.map((tool) => <Badge color="card">{tool}</Badge>)}
			</div>
		</div>
		<p class="mt-[0.5rem] text-sm text-fi-base-600">{data.description}</p>
	</div>
</a>
