---
import type { CollectionEntry } from "astro:content"
import { Image } from "astro:assets"
import ArticleDate from "$components/ArticleDate.astro"
import Badge from "./Badge.astro"

interface Props {
	project: CollectionEntry<"portfolio">
}
const { project } = Astro.props
const data = project.data
---

<a
	href={"/portfolio/" + project.slug}
	class="inline-block w-full rounded-lg bg-gradient-to-br from-slate-100 via-slate-300 to-slate-500 bg-size-200 bg-pos-0 p-1 transition-all duration-500 hover:bg-pos-100 dark:from-slate-800 dark:via-slate-500 dark:to-slate-300"
>
	<div
		class="group flex h-full flex-col overflow-hidden rounded-md bg-white text-slate-900 dark:bg-slate-800 dark:text-slate-200"
	>
		<div
			class="flex h-36 grow flex-col-reverse bg-slate-300"
			style={data.image && `background-image: url('${data.image.src}'); background-size: cover;`}
		>
			<div class="mx-3 -mb-6 flex -translate-y-3 flex-wrap gap-2">
				{
					data.roles.map((role) => (
						<Badge square color="sky" small>
							{role}
						</Badge>
					))
				}
				{data.tools.map((tool) => <Badge small>{tool}</Badge>)}
			</div>
		</div>
		<div class="p-5">
			<h3 class="mb-2 text-2xl font-bold">
				{data.title}
			</h3>
			{data.description && <p class="my-2 text-sm leading-snug">{data.description}</p>}
			{
				(data.client || data.release) && (
					<p class="font-sofia-sans text-sm text-slate-400">
						{data.client}
						{data.client && data.release && " • "}
						{data.release && <ArticleDate yearOnly date={data.release} />}
					</p>
				)
			}
		</div>
	</div>
</a>
