---
import Style from "$components/OptionalStyle.astro"

interface Props {
	title: string
	book?: boolean
	bookEdition?: string
	author?: string
	foreign?: boolean
	date?: string | number
	publisher?: string
	jp?: boolean
	page?: number
	multiple?: boolean
	link?: URL
	archive?: URL
	archiveDate?: string
}
const {
	title,
	book,
	bookEdition,
	author,
	foreign,
	date,
	publisher,
	jp,
	page,
	multiple,
	link,
	archive,
	archiveDate,
} = Astro.props
// If foreign, the title will be italicized. If jp (japanese), the publisher will not be italicized.

if (!book) {
	if (!archive) console.warn(`Not archived: "${title}"`)
	else if (!book && !archiveDate) console.warn(`No archive date: "${title}"`)
}
---

<span>{author && `${author}, `}<Style quotes={!book}><Style i={foreign || book}>{
		link ? <a href={link} target="_blank" set:html={title}/> : title
	}</Style></Style>{bookEdition && <> ({bookEdition})</>}{
		publisher && <>, <Style i={!jp}>{publisher}</Style></>
	}{
		page && <>, {multiple ? "pages " : "page "}{page}</>
	}{
		date && (typeof date == "number" ? `, ${date}` : `, le ${date}`)
	}{
		archive && <> (<a href={archive} target="_blank">{archiveDate ? `archive du ${archiveDate}` : "archive"}</a>)</>
}</span>
