---
interface Props {
	type: "checkbox" | "radio"
	id: string
	name: string
	content: string
	checked?: boolean
}
const { type, id, name, content, checked } = Astro.props
---

<div>
	<input type={type} name={name} id={id} checked={checked} class="peer hidden" />
	<label
		for={id}
		class="flex h-full items-center justify-center rounded-md border border-slate-200 bg-slate-50 px-3 py-1 text-center text-slate-500 shadow-sm hover:bg-slate-100 active:bg-slate-200 peer-checked:border-indigo-500 peer-checked:bg-indigo-500 peer-checked:text-white peer-checked:active:bg-indigo-600 dark:border-slate-700 dark:bg-black dark:hover:bg-slate-900 dark:active:bg-slate-800"
		><div>{content}</div></label
	>
</div>
