---
import "$styles/fonts"
import ArticleCard from "$components/blog/ArticleCard.astro"
import BaseLayout from "$layouts/BaseLayout.astro"
import getBlogPosts, { getDiary } from "$utils/getCollection"
import DiaryWrapup from "$components/blog/DiaryWrapup.astro"
import LaunchIcon from "$icons/ic/baseline-launch.svg"
import { dateSort } from "$utils/sort"

const articles = [...(await getBlogPosts())].sort((a, b) => dateSort(a.data.date, b.data.date))
/** sort drafts first
	.sort((a, b) => {
		if (a.data.draft && !b.data.draft) return -1
		if (!a.data.draft && b.data.draft) return 1
		return 0
	})
*/
const diary = (await getDiary()).filter((entry) => entry.data.highlight)
const diaryYears = Array.from(new Set(diary.map((entry) => entry.year)))
---

<BaseLayout
	ogType="website"
	title="Blog"
	description="Blog personnel d'Aurélien Dos Santos."
	bg={{ light: "#ffffff", dark: "#000000" }}
	viewportCover
>
	<header
		class="grid w-full grid-cols-3 items-center bg-white font-sofia-sans text-sm text-black 2xl:text-xs xl:grid-cols-2 mediumlarge:flex mediumlarge:grid-cols-none mediumlarge:flex-col dark:bg-black dark:text-white"
	>
		<div class="flex justify-center">
			<div
				class="ml-8 mr-16 flex min-w-[20rem] max-w-xs flex-col font-louize text-lg 2xl:ml-7 2xl:mr-14 2xl:min-w-[17.5rem] 2xl:max-w-[17.5rem] 2xl:text-base small:mx-0 small:max-w-[20rem]"
			>
				<div class="my-11 flex justify-between 2xl:my-9 xl:mb-0 xl:mt-6 mediumlarge:mt-9">
					<h1>Aurélien Dos Santos</h1>
				</div>
			</div>
		</div>
		<div class="flex justify-center">
			<div
				class="ml-8 mr-16 flex min-w-[20rem] max-w-xs flex-col uppercase 2xl:ml-7 2xl:mr-14 2xl:min-w-[17.5rem] 2xl:max-w-[17.5rem] small:mx-0 small:max-w-[20rem]"
			>
				<div class="my-12 flex gap-5 2xl:my-10 xl:mb-4 mediumlarge:mt-4">
					<a href="/portfolio">Portfolio</a>
					<a href="/tags">Tags</a>
					<a href="/website">À propos</a>
				</div>
			</div>
		</div>
		<div class="hidden xl:block"></div>
		<div class="flex justify-center">
			<div
				class="ml-8 mr-16 flex min-w-[20rem] max-w-[20rem] flex-col uppercase 2xl:ml-7 2xl:mr-14 2xl:min-w-[17.5rem] 2xl:max-w-[17.5rem] small:mx-0 small:max-w-[20rem]"
			>
				<div class="my-12 flex gap-5 2xl:my-10 xl:mt-0">
					{
						[
							{ title: "YouTube", href: "https://www.youtube.com/@GameDevAlliance" },
							{ title: "LinkedIn", href: "https://www.linkedin.com/in/aureliendossantos/" },
							{ title: "GitHub", href: "https://github.com/aureliendossantos" },
						].map((link) => (
							<a href={link.href}>
								{link.title}
								<LaunchIcon size="0.9em" class="-mb-[0.1em] inline-block align-baseline" />
							</a>
						))
					}
				</div>
			</div>
		</div>
	</header>
	{
		articles.map((article, index) => (
			<>
				<ArticleCard article={article} entryIndex={articles.length - index} />
				{(() => {
					const year = article.data.date.getFullYear()
					if (!articles[index + 1]) return <DiaryWrapup year={year} />
					const nextYear = articles[index + 1].data.date.getFullYear()
					if (year != nextYear) {
						const years = Array.from({ length: year - nextYear }, (_, i) => year - i)
						return years.map((year) => {
							if (diaryYears.includes(year)) return <DiaryWrapup year={year} />
						})
					}
				})()}
			</>
		))
	}
</BaseLayout>

<style>
	header a {
		@apply text-neutral-600 hover:text-black dark:text-neutral-300 dark:hover:text-white;
	}
</style>
