---
import Image from "$components/Image.astro"
import BaseLayout from "$layouts/BaseLayout.astro"
import getBlogPosts from "$utils/getCollection"
import { Icon } from "astro-icon/components"
import { getEntryBySlug } from "astro:content"

const articles = await getBlogPosts(false)
const blogLength = 4
const portfolio = [
	{ entry: await getEntryBySlug("portfolio", "qrpg"), layout: "horizontal" },
	{ entry: await getEntryBySlug("portfolio", "powerup"), layout: "horizontal" },
	{ entry: await getEntryBySlug("portfolio", "minimal-cms"), layout: "horizontal" },
	{ entry: await getEntryBySlug("portfolio", "dashboard"), layout: "horizontal" },
	// TODO: { entry: await getEntryBySlug("portfolio", "site"), layout: "horizontal" },
]
const portals = [
	{
		title: "À propos",
		slug: "/website",
		desc: "Détails sur moi et sur les fonctionnalités de ce site.",
	},
	{ title: "Journal", slug: "/diary", desc: "Journaux intimes et carnets de voyage." },
	{ title: "Lieux", slug: "/places", desc: "Lieux favoris alimentés par l'API de Google Maps." },
	{ title: "Jeux", slug: "/games", desc: "Bibliothèque de jeux gérée avec Notion et IGDB." },
	{ title: "Appareils", slug: "/devices", desc: "Appareils que je possède et habitudes." },
	{ title: "Cuisine", slug: "/kitchen", desc: "Recettes et astuces culinaires.", wip: true },
	{
		title: "Wiki",
		slug: "/wiki",
		desc: "Carnet de notes rendu côté serveur via Notion.",
		wip: true,
	},
]
---

<BaseLayout title="Accueil" ogType="website" bg={{ light: "#FBF6EB", dark: "#353336" }}>
	<div class="m-auto max-w-xl py-24 text-dandelion-1 medium:px-3 dark:text-snow-1">
		<p class="mb-3">Aurélien Dos Santos /</p>
		<h1 class="mb-10 text-[42px] italic leading-none" style={{ fontFamily: "Louize" }}>
			Site personnel
		</h1>
		<p class="my-3">
			Bonjour, je suis Aurélien, développeur web et Unity. Je suis également diplômé en ingénierie
			pédagogique et passionné de cinéma, de typographie et de game design.
		</p>
		<h2 class="mb-1 mt-12 font-medium">
			<a
				href="/blog"
				class="transition hover:bg-dandelion-2 hover:shadow-[0px_0_5px_5px_#E7E9B7] dark:hover:bg-snow-1/10 dark:hover:shadow-[0px_0_5px_5px_rgba(233,220,208,0.1)]"
			>
				Blog →
			</a>
		</h2>
		<div class="flex flex-col">
			{
				articles.slice(0, blogLength).map((a) => (
					<a
						class="flex gap-6 border-b border-dandelion-1/20 py-2 transition hover:bg-dandelion-2 hover:shadow-[0px_0_5px_5px_#E7E9B7] dark:border-snow-1/20 dark:hover:bg-snow-1/10 dark:hover:shadow-[0px_0_5px_5px_rgba(233,220,208,0.1)]"
						href={`/${a.slug}`}
					>
						<div class="whitespace-nowrap" style={{ fontFeatureSettings: '"tnum"' }}>
							{a.data.date.getFullYear()} ·{" "}
							{(a.data.date.getMonth() + 1).toString().padStart(2, "0")}
						</div>
						<h3>{a.data.title}</h3>
					</a>
				))
			}
		</div>
		<div class="flex h-[41px] items-center justify-center text-sm">
			<a
				href="/blog"
				class="cursor-pointer text-dandelion-1/70 transition hover:bg-dandelion-2 hover:shadow-[0px_0_5px_5px_#E7E9B7] dark:hover:bg-snow-1/10 dark:hover:shadow-[0px_0_5px_5px_rgba(233,220,208,0.1)]"
			>
				{articles.length - blogLength} supplémentaires
			</a>
		</div>
		<h2 class="mb-4 mt-6 font-medium">
			<a
				href="/portfolio"
				class="transition hover:bg-dandelion-2 hover:shadow-[0px_0_5px_5px_#E7E9B7] dark:hover:bg-snow-1/10 dark:hover:shadow-[0px_0_5px_5px_rgba(233,220,208,0.1)]"
			>
				Portfolio →
			</a>
		</h2>
		<div class="grid grid-cols-2">
			{
				portfolio.map((p) =>
					p.layout == "vertical" ? (
						<a
							class="group grid grid-rows-2 overflow-hidden rounded-sm border-dandelion-1/20 transition duration-300 ease-in-out even:border-l hover:shadow-[0px_0_5px_5px_#E7E9B7] dark:divide-snow-1/50 dark:border-snow-1/50 dark:hover:shadow-[0px_0_5px_5px_rgba(233,220,208,0.1)]"
							href={`/portfolio/${p.entry.slug}`}
						>
							{p.entry.data.image && (
								<Image
									src={p.entry.data.image}
									width={500}
									class="h-full bg-black/50 object-cover brightness-[92%] contrast-[93%] grayscale invert-[19%] sepia-[30%] transition-all duration-300 ease-in-out group-hover:filter-none"
									notZoomable
									alt=""
								/>
							)}
							<div class="p-6 transition duration-300 ease-in-out group-hover:bg-dandelion-2 dark:group-hover:bg-snow-1/10">
								<h3 class="font-medium">{p.entry.data.title}</h3>
								<p class="text-sm">{p.entry.data.description}</p>
							</div>
						</a>
					) : (
						<a
							class="group col-span-2 flex transition duration-300 ease-in-out hover:bg-dandelion-2 hover:shadow-[0px_0_5px_5px_#E7E9B7] dark:divide-snow-1/50 dark:border-snow-1/50 dark:hover:shadow-[0px_0_5px_5px_rgba(233,220,208,0.1)]"
							href={`/portfolio/${p.entry.slug}`}
						>
							{p.entry.data.image && (
								<Image
									src={p.entry.data.image}
									width={500}
									class="h-full w-[140px] max-w-none bg-black/50 object-cover brightness-[92%] contrast-[93%] grayscale invert-[19%] sepia-[30%] transition-all duration-300 ease-in-out group-first:rounded-t-sm group-last:rounded-b-sm group-hover:filter-none"
									notZoomable
									alt=""
								/>
							)}
							<div class="grow border-t border-dandelion-1/20 px-6 py-[19px] transition duration-300 ease-in-out group-first:border-t-0 group-last:border-b dark:group-hover:bg-snow-1/10">
								<h3 class="">{p.entry.data.title}</h3>
								<p class="text-sm text-dandelion-1/70">{p.entry.data.tools.join(", ")}</p>
							</div>
						</a>
					)
				)
			}
		</div>
		<div class="mt-3 flex items-center justify-center text-sm">
			<a
				href="/portfolio"
				class="cursor-pointer text-dandelion-1/70 transition hover:bg-dandelion-2 hover:shadow-[0px_0_5px_5px_#E7E9B7] dark:hover:bg-snow-1/10 dark:hover:shadow-[0px_0_5px_5px_rgba(233,220,208,0.1)]"
			>
				3 supplémentaires
			</a>
		</div>
		<h2 class="mb-1 mt-8 font-medium">Autres portails</h2>
		<div class="flex flex-col divide-y divide-dandelion-1/20 dark:divide-snow-1/20">
			{
				portals.map((p) => (
					<a
						class="rounded-sm py-2 transition hover:bg-dandelion-2 hover:shadow-[0px_0_5px_5px_#E7E9B7] dark:hover:bg-snow-1/10 dark:hover:shadow-[0px_0_5px_5px_rgba(233,220,208,0.1)]"
						href={p.slug}
					>
						<h3 class="flex items-baseline medium:justify-between">
							{/*prettier-ignore */}
							<span class="inline-block w-24">{p.title}{p.wip && <sup>WIP</sup>}</span>
							<span class="inline-block w-24 font-mono text-sm medium:text-right">{p.slug}</span>
							{p.desc && <span class="text-sm text-dandelion-1/70 medium:hidden">{p.desc}</span>}
						</h3>
					</a>
				))
			}
		</div>
		<h2 class="mt-12 font-medium">Contact</h2>
		<ul class="my-3 flex flex-col gap-3">
			<li>
				<a
					class="transition hover:bg-dandelion-2 hover:shadow-[0px_0_5px_5px_#E7E9B7] dark:hover:bg-snow-1/10 dark:hover:shadow-[0px_0_5px_5px_rgba(233,220,208,0.1)]"
					href="https://github.com/aureliendossantos"
				>
					GitHub
					<Icon
						name="ic:baseline-launch"
						class="-mb-[0.1em] inline-block h-[0.9em] align-baseline"
					/>
				</a>
			</li>
			<li>
				<a
					class="transition hover:bg-dandelion-2 hover:shadow-[0px_0_5px_5px_#E7E9B7] dark:hover:bg-snow-1/10 dark:hover:shadow-[0px_0_5px_5px_rgba(233,220,208,0.1)]"
					href="https://linkedin.com/in/aureliendossantos"
				>
					LinkedIn
					<Icon
						name="ic:baseline-launch"
						class="-mb-[0.1em] inline-block h-[0.9em] align-baseline"
					/>
				</a>
			</li>
			<li class="-mt-1">
				<button
					id="copy-email"
					class="transition hover:bg-dandelion-2 hover:shadow-[0px_0_5px_5px_#E7E9B7] dark:hover:bg-snow-1/10 dark:hover:shadow-[0px_0_5px_5px_rgba(233,220,208,0.1)]"
				>
					<span class="font-mono text-sm">aureliendsantos@gmail.com</span>
					<span class="mx-1 text-sm">Copier</span>
				</button>
				<a
					class="border-l border-dandelion-1/20 px-2 py-[2px] text-sm transition hover:bg-dandelion-2 hover:shadow-[0px_0_5px_5px_#E7E9B7] dark:border-snow-1/20 dark:hover:bg-snow-1/10 dark:hover:shadow-[0px_0_5px_5px_rgba(233,220,208,0.1)]"
					href="mailto:aureliendsantos@gmail.com"
				>
					Envoyer
				</a>
			</li>
		</ul>
	</div>
</BaseLayout>

<style is:global>
	sup {
		@apply ml-[0.05em] text-[65%] font-medium;
	}
</style>

<script>
	import { toast } from "$utils/navbar"

	const button = document.querySelector("#copy-email") as HTMLButtonElement
	button.addEventListener("click", () => {
		toast("Adresse email copiée dans le presse-papiers.")
		navigator.clipboard.writeText("aureliendsantos@gmail.com")
	})
</script>
