---
import formatDate from "$utils/formatting/formatDate"
import { Icon } from "astro-icon/components"
import { getWikiCategories, getWikiPages } from "$utils/getCollection"

const categories = await getWikiCategories()
const pages = await getWikiPages()
---

{
	categories.map((category) => (
		<>
			<h2 class:list={[{ "mb-0": category.description }]}>{category.title}</h2>
			{category.description && <p class="text-neutral-500">{category.description}</p>}
			<ul class="not-prose -mx-3 flex flex-col">
				{pages
					.filter((page) => page.categoryId == category.id)
					.map((page) => {
						return (
							<a
								class="z-0 -mt-[1px] border border-neutral-300 px-3 py-3 leading-snug transition first:mt-0 first:rounded-t last:rounded-b hover:z-10 hover:border-neutral-500 dark:border-neutral-700"
								href={`/wiki/${page.slug}`}
							>
								<div class="flex justify-between">
									<h3>{page.title}</h3>
									<p class="text-neutral-500">
										<Icon name="material-symbols:update-rounded" class="mb-[0.2em] inline-block" />
										{formatDate(new Date(page.editedTime))}
									</p>
								</div>
								{page.description && <p class="text-neutral-500">{page.description}</p>}
							</a>
						)
					})}
			</ul>
		</>
	))
}
