---
import formatDate from "$utils/formatting/formatDate"
import { Icon } from "astro-icon/components"
import { getWikiPages } from "$utils/getCollection"
import { getCollection } from "astro:content"

const pages = await getWikiPages()
const tags = await getCollection("tags")
---

<h2>Toutes les pages</h2>
<ul class="not-prose flex flex-col">
	{
		pages.map((page) => {
			const pageTags = tags.filter((tag) => page.tags.includes(tag.slug))
			return (
				<div class="z-0 py-[10px] leading-snug transition">
					<div class="flex gap-2">
						{page.status && page.status.icon}
						<div class="grow">
							<div class="flex grow gap-2">
								<a href={`/wiki/${page.slug}`} class="grow">
									{page.title}
								</a>
								{pageTags.map((tag) => (
									<a
										href={`/tags/${tag.slug}`}
										class="rounded bg-neutral-100 px-1 text-neutral-500 transition hover:bg-neutral-200"
									>
										{tag.data.title}
									</a>
								))}
								<div class="text-neutral-500">
									<Icon name="material-symbols:update-rounded" class="mb-[0.2em] inline-block" />
									{formatDate(new Date(page.editedTime))}
								</div>
							</div>
							{page.description && <p class="text-neutral-500">{page.description}</p>}
						</div>
					</div>
				</div>
			)
		})
	}
</ul>
