---
import { Icon } from "astro-icon/components"

interface Props {
	id: string
	label: string
	shortLabel: string
	href: string
}
const { id, label, shortLabel, href } = Astro.props
---

<a
	id={id}
	style="padding-block: unset;"
	class="m-0 flex h-full items-center justify-center gap-2 border-r border-neutral-700 p-0 pl-2 pr-3 hover:bg-white hover:text-black medium:pr-2"
	href={href}
	download
>
	<Icon id="navbar-link-icon" name="ic:outline-file-download" class="h-[17px] w-[17px]" />
	<div id={`${id}-text`} class="medium:hidden">{label}</div>
	<div class="hidden medium:block">{shortLabel}</div>
</a>
