---
import LaunchIcon from "$icons/ic/baseline-launch.svg"

interface Props {
	id: string
	label: string
	shortLabel?: string
	href: string
}
const { id, label, href } = Astro.props

const shortLabel = Astro.props.shortLabel || label
---

<a
	{id}
	class="navbar-colors navbar-hover-colors relative m-0 flex h-full items-center justify-center gap-2 border-r p-0 px-3 medium:px-2"
	{href}
>
	<div id={`${id}-text`} class="whitespace-nowrap medium:hidden">{label}</div>
	<div id={`${id}-short-text`} class="hidden whitespace-nowrap medium:block">{shortLabel}</div>
	<LaunchIcon id="navbar-link-icon" size="17px" />
</a>
