---
import type { Palette } from "src/utils/palettes"
import ArticleDate from "./ArticleDate.astro"
import { getImage } from "astro:assets"

interface Props {
	title?: string
	description?: string
	date?: Date
	cover?: ImageMetadata
	palette: Palette
	wide?: boolean
	anchorTop?: boolean
}
const { title, description, date, cover, palette, wide, anchorTop } = Astro.props

const optimizedCover = cover && (await getImage({ src: cover, width: Math.min(1920, cover.width) }))
---

<header
	class:list={[
		"px-[80px] medium:px-[40px] small:px-[20px]",
		{ "mb-12 flex min-h-[50vh] bg-cover bg-center pb-8": cover },
	]}
	style={{
		color: cover ? "#fbf8f2" : palette.secondaryColor,
		fontFamily: palette.mainFont,
		fontSize: palette.fontSize || "initial",
		lineHeight: palette.lineHeight || 1.25,
		backgroundImage: optimizedCover
			? `linear-gradient(rgba(56, 48, 28, 0.394), rgba(75, 65, 35, 0.395)), url('${optimizedCover.src}')`
			: "none",
		backgroundPosition: anchorTop ? "top" : "center",
	}}
>
	<div class:list={["m-auto pt-8", { "max-w-[700px]": wide, "max-w-prose": !wide }]}>
		<h1
			style={{
				color: cover ? "#fbf8f2" : palette.mainColor,
				fontFamily: palette.headingsFont,
			}}
		>
			{title}
		</h1>
		{description && <p>{description}</p>}
		{
			date && (
				<p>
					<ArticleDate date={date} /> – <a href={Astro.site}>Aurélien Dos Santos</a>
				</p>
			)
		}
	</div>
</header>
