---
import type { CollectionEntry } from "astro:content"
import getPalette from "src/utils/palettes"
import ArticleDate from "./ArticleDate.astro"

interface Props {
	article: CollectionEntry<"blog"> | CollectionEntry<"tufte">
}
const { article } = Astro.props
const data = article.data
const palette = getPalette(data.palette)
const categories = data.categories ? data.categories.filter((name) => name != "Article") : []
---

<a
	class="duration-80 scale-100 overflow-hidden rounded-lg shadow ease-out hover:scale-[1.01]"
	style={{ backgroundColor: palette.backgroundColor }}
	href={"/post/" + article.slug}
>
	{data.image && <img src={data.image} alt="" class="h-36 w-full object-cover" />}
	<div class="p-5" style={{ color: palette.mainColor, fontFamily: palette.mainFont }}>
		<h2
			class="mb-2 text-2xl font-bold"
			style={{ color: palette.mainColor, fontFamily: palette.headingsFont }}
		>
			{data.title}
		</h2>
		{
			data.description && (
				<p class="my-2" style={{ color: palette.mainColor }}>
					{data.description}
				</p>
			)
		}
		<div style={{ color: palette.secondaryColor }}>
			{categories.length > 0 && <>{categories.join(", ")} / </>}<ArticleDate date={data.date} />{
				data.location && <span> / {data.location}</span>
			}
		</div>
	</div>
</a>
