---
import type { Palette } from "src/utils/palettes"
import ArticleDate from "./ArticleDate.astro"
import { getImage } from "astro:assets"
import { Layouts } from "$utils/layouts"

interface Props {
	title?: string
	description?: string
	date?: Date
	cover?: ImageMetadata
	palette: Palette
	layouts: Layouts[]
	wide?: boolean
	anchorTop?: boolean
}
const { title, description, date, cover, palette, layouts, wide, anchorTop } = Astro.props

const optimizedCover = cover && (await getImage({ src: cover, width: Math.min(1920, cover.width) }))
const cormorant = layouts.includes(Layouts.cormorant)
---

<header
	class:list={[
		"px-[80px] medium:px-[40px] small:px-[20px]",
		{ "mb-12 flex min-h-[50vh] bg-cover bg-center pb-8": cover },
	]}
	style={{
		color: cover ? "#fbf8f2" : palette.secondaryColor,
		fontFamily: palette.mainFont,
		fontSize: palette.fontSize || "initial",
		lineHeight: palette.lineHeight || 1.25,
		backgroundImage: optimizedCover
			? `linear-gradient(rgba(56, 48, 28, 0.394), rgba(75, 65, 35, 0.395)), url('${optimizedCover.src}')`
			: "none",
		backgroundPosition: anchorTop ? "top" : "center",
	}}
>
	<div
		class:list={[
			"m-auto",
			{
				"pb-20 pt-20": cormorant,
				"pt-8": !cormorant,
				"max-w-[700px]": wide,
				"max-w-[75ch]": !wide && cormorant,
				"max-w-prose": !wide && !cormorant,
			},
		]}
	>
		<h1
			class:list={{ "mb-0 !leading-tight": cormorant }}
			style={{
				color: cover ? "#fbf8f2" : palette.mainColor,
				fontFamily: palette.headingsFont,
				fontStyle: cormorant ? "italic" : undefined,
				fontFeatureSettings: cormorant ? '"ss01" 01, "dlig" 1' : undefined,
			}}
		>
			{title}
		</h1>
		{
			description && (
				<p
					class:list={{ "!my-[1em]": cormorant }}
					style={{ fontFamily: cormorant ? "'Cormorant Upright', Cormorant, serif" : undefined }}
				>
					{description}
				</p>
			)
		}
		{
			date && (
				<p style={{ fontFamily: cormorant ? "'Cormorant Unicase'" : undefined }}>
					<ArticleDate date={date} /> – <a href={Astro.site}>Aurélien Dos Santos</a>
				</p>
			)
		}
	</div>
</header>
