---
interface Props {
	img: string
	icon?: string
	title: string
	infos: string[]
	links: [string, string | false][]
}
const { img, icon, title, infos, links } = Astro.props
---

<div class="my-[1em] flex flex-row gap-2 border">
	<div class="max-w-[4em]">
		<img src={img} />
	</div>
	<div class="grow pr-2 pb-1">
		<h3 class="text-normal-size my-0 text-inherit">
			{icon && <img src={icon} class="mr-[0.2em] max-h-[0.8em]" />}{title}
		</h3>
		<ul class="my-0 list-none pl-0">
			{infos.map((item) => <li>{item}</li>)}
		</ul>
		<ul class="special-color my-0 flex list-none gap-2 pl-0 font-mono">
			{
				links.map((item) => (
					<li>
						{item[1] ? (
							<a href={item[1]}>
								{item[0].replace("http://", "").replace("https://", "").replace("www.", "")}
							</a>
						) : (
							item[0]
						)}
					</li>
				))
			}
		</ul>
	</div>
</div>
