---
import MarkdownIt from "markdown-it"
import OptionalLink from "./OptionalLink.astro"
interface Props {
	img?: string
	imgHiRes?: string
	icon?: string
	title: string
	infos: string[]
	links: [string, string | false][]
	imgOnly?: boolean
	popupId?: string
	librarySlug?: string
	posterRatio?: "movie" | "game"
	big?: boolean
	gallery?: string[]
	galleryHiRes?: string[]
}
const {
	img,
	imgHiRes,
	icon,
	title,
	infos,
	links,
	imgOnly,
	popupId,
	librarySlug,
	posterRatio,
	big,
	gallery,
	galleryHiRes,
} = Astro.props

const markdown = new MarkdownIt({ html: true })
---

{
	popupId && (
		<div
			id={`${popupId}-data`}
			class="hidden"
			data-title={title}
			data-library-slug={librarySlug}
			data-links={JSON.stringify(links.map((l) => ({ title: l[0], url: l[1] })))}
		/>
	)
}

{/* Conteneur */}
<div
	class:list={[
		"ref-block",
		{ "mb-[1em]": !popupId },
		{ "flex flex-row gap-4": !big },
		{ "flex max-h-[240px] flex-row place-content-between": posterRatio },
		{
			"grid grid-cols-5 shadow transition-shadow hover:shadow-md small:grid-cols-1 small:grid-rows-1":
				big && !posterRatio,
		},
		{ "overflow-hidden rounded-md": big },
		{ "bg-white": big && !popupId },
	]}
>
	{/* Image principale */}
	{
		big && !posterRatio ? (
			<a
				href={links[links.length - 1][1] || null}
				class="order-2 min-h-[140px] bg-cover bg-center mediumlarge:col-span-2 medium:col-span-1 small:order-1"
				style={`background-image: url('${img}');`}
			/>
		) : (
			img && (
				<div
					class:list={[
						{
							"min-w-[4em] max-w-[4em]": !posterRatio,
							"order-3 max-h-[240px] min-h-[240px] min-w-[160px] max-w-[160px]":
								posterRatio == "movie",
							"order-3 max-h-[240px] min-h-[240px] min-w-[180px] max-w-[180px]":
								posterRatio == "game",
						},
					]}
				>
					<img
						src={img}
						loading="lazy"
						decoding="async"
						style={posterRatio ? "border-radius:0;" : ""}
						data-zoomable
						data-zoom-src={imgHiRes}
						class="bg-[--secondary-color]"
						width="100%"
					/>
				</div>
			)
		)
	}
	{/* Infos */}
	{
		!imgOnly && (
			<div
				class:list={{
					grow: !big,
					"order-1 flex flex-col overflow-auto px-4 py-4 small:order-2": big,
					"col-span-2 mediumlarge:col-span-3 medium:col-span-4": big && !posterRatio,
					"col-span-2": big && posterRatio,
				}}
				style={{ fontSize: big ? "smaller" : "" }}
			>
				<OptionalLink
					href={!popupId && links[links.length - 1][1]}
					style="text-decoration-line: none"
				>
					<div class="leading-snug">
						{icon && <img src={icon} class="mr-[0.2em] max-h-[0.8em]" />}
						{title}
					</div>
				</OptionalLink>
				<ul class="my-0 list-none pl-0" style={{ fontSize: !big ? "smaller" : "" }}>
					{infos.map((item) => (
						<li class="whitespace-pre-line">{item}</li>
					))}
				</ul>
				{big && <div class="grow" />}
				<ul
					class:list={[
						"special-color my-0 flex list-none pl-0",
						{ "gap-2": !big, "flex-col": big },
					]}
					style={{ fontFeatureSettings: '"lnum", "tnum"', fontSize: !big ? "smaller" : "" }}
				>
					{links.map((item) => (
						<li>
							{item[1] ? (
								<a href={item[1]} set:html={markdown.renderInline(item[0])} />
							) : (
								<Fragment set:html={markdown.renderInline(item[0])} />
							)}
						</li>
					))}
				</ul>
				{/* Galerie */}
				{big && gallery && gallery.length > 0 && (
					<div
						class:list={[
							"-mx-2 -mb-2 mt-2 grid gap-1",
							{
								"h-20": !posterRatio,
								"grid-cols-2": gallery.length % 2 == 0 || gallery.length == 1,
								"grid-cols-3": gallery.length % 2 != 0 && gallery.length > 1,
							},
						]}
					>
						{gallery.map((url, index) => (
							<img
								data-zoomable
								data-zoom-src={galleryHiRes && galleryHiRes[index]}
								src={url}
								class="unstyled max-w-full rounded object-cover"
							/>
						))}
					</div>
				)}
			</div>
		)
	}
</div>
