---
import { type CollectionEntry } from "astro:content"
import BaseLayout from "$layouts/BaseLayout.astro"
import DiaryLayout from "$layouts/DiaryLayout.astro"
import PlacesList from "$components/places/PlacesList.astro"
import { getDiary, getPlaceCollectionEntry } from "$utils/getCollection"
import ArticleDate from "$components/articles/ArticleDate.astro"
import InitMaps from "$components/places/InitMaps.astro"

export async function getStaticPaths() {
	const entries = await getDiary()
	return entries.map((entry) => ({
		params: { diary: entry.finalSlug },
		props: { entry },
	}))
}

interface Props {
	entry: CollectionEntry<"diary">
}
const { entry } = Astro.props

const { Content } = await entry.render()
const data = entry.data

const places = await Promise.all(
	data.places.map(async (slug) => await getPlaceCollectionEntry(slug))
)
---

{
	!data.customLayout ? (
		<DiaryLayout
			title={data.title}
			ogType="article"
			navBarProps={{ title: data.title, parent: { title: "Journal", href: "/diary" } }}
		>
			<div class="m-auto max-w-xl pb-8 text-zinc-900">
				<header class="flex justify-between px-8 pb-8 pt-10 font-work-sans text-sm text-zinc-400">
					<p>
						<a href="/diary" class="hover:text-amber-700">
							← Journal
						</a>
					</p>
				</header>
				<main class="prose prose-sm prose-zinc prose-quoteless px-8 prose-h1:mb-4 prose-blockquote:font-normal prose-blockquote:not-italic">
					<h1>
						{data.title}
						<span class="font-work-sans text-[24px] font-light text-zinc-400">
							{data.date ? <ArticleDate date={data.date} yearOnly /> : entry.slug.split("/")[1]}
						</span>
					</h1>
					{!data.hidePlaces && (
						<div class="not-prose -mx-6">
							<PlacesList places={places} lat={data.mapLat} lng={data.mapLng} zoom={data.mapZoom} />
						</div>
					)}
					<Content />
				</main>
			</div>
		</DiaryLayout>
	) : (
		<BaseLayout
			title={data.title}
			ogType="article"
			navBarProps={{ title: data.title, parent: { title: "Journal", href: "/diary" } }}
		>
			<Content />
		</BaseLayout>
	)
}

<InitMaps />
