---
import { type CollectionEntry, getCollection } from "astro:content"
import BaseLayout from "$layouts/BaseLayout.astro"
import PlacesLayout from "$layouts/PlacesLayout.astro"
import PlacesList from "$components/places/PlacesList.astro"
import { getPlacesData } from "$utils/remoteData"
import { getDiary } from "$utils/getBlogPosts"
import ArticleDate from "$components/ArticleDate.astro"
import InitMaps from "$components/InitMaps.astro"

export async function getStaticPaths() {
	const entries = await getDiary()
	return entries.map((entry) => ({
		params: { diary: entry.finalSlug },
		props: { entry },
	}))
}

interface Props {
	entry: CollectionEntry<"diary">
}
const { entry } = Astro.props

const { Content, headings } = await entry.render()
const data = entry.data

const googleMapsData = await getPlacesData()

const placesCollection = await getCollection("places")

const places = data.places
	.map((slug) => placesCollection.find((p) => p.slug == slug))
	.map((place) => ({
		...place,
		slug: place!.slug.split("/")[1],
		maps: googleMapsData.find((p) => p.place_id == place!.data.id),
	}))
---

{
	!data.customLayout ? (
		<PlacesLayout title={data.title} ogType="article">
			<div class="m-auto max-w-xl pb-8 text-zinc-900">
				<header class="flex justify-between px-8 pb-8 pt-10 font-work-sans text-sm text-zinc-400">
					<p>
						<a href="/diary" class="hover:text-amber-700">
							← Journal
						</a>
					</p>
				</header>
				<main class="prose prose-sm prose-zinc prose-quoteless px-8 prose-h1:mb-4 prose-blockquote:font-normal prose-blockquote:not-italic">
					<h1>
						{data.title}
						<span class="font-work-sans text-[24px] font-light text-zinc-400">
							{data.date ? <ArticleDate date={data.date} yearOnly /> : entry.slug.split("/")[1]}
						</span>
					</h1>
					{!data.hidePlaces && (
						<div class="not-prose -mx-6">
							<PlacesList places={places} lat={data.mapLat} lng={data.mapLng} zoom={data.mapZoom} />
						</div>
					)}
					<Content />
				</main>
			</div>
		</PlacesLayout>
	) : (
		<BaseLayout title={data.title} ogType="article">
			<Content />
		</BaseLayout>
	)
}

<style is:global>
	.prose .bg-mention {
		@apply bg-zinc-200 hover:bg-zinc-300;
	}
	.prose .bg-mention img {
		@apply mb-[0.2em];
	}
</style>

<InitMaps />
