---
import Image from "$components/Image.astro"
import type { AstroBuiltinAttributes, ImageQuality } from "astro"

interface Props {
	src: ImageMetadata | Promise<{ default: ImageMetadata }>
	alt?: string
	caption?: string
	rounded?: boolean
	shadow?: boolean
	half?: boolean
	third?: boolean
	zoomQuality?: ImageQuality
}
const { src, alt, caption, rounded, shadow, half, third, zoomQuality, ...attributes } = Astro.props

const resolvedSrc = "then" in src ? (await src).default : src
const classes: AstroBuiltinAttributes["class:list"] = { "rounded-md": rounded, shadow: shadow }

function getMaxWidth() {
	if (third) return 640
	if (half) return 960
	return 1920
}

const width = Math.min(resolvedSrc.width, getMaxWidth())
---

<figure>
	<Image
		src={resolvedSrc}
		width={width}
		zoomQuality={zoomQuality}
		alt={alt || ""}
		class:list={classes}
		{...attributes}
	/>
	{
		Astro.slots.has("default") && (
			<figcaption>
				<div>
					<slot />
				</div>
			</figcaption>
		)
	}
	{
		caption && (
			<figcaption>
				<div>
					<slot>{caption}</slot>
				</div>
			</figcaption>
		)
	}
</figure>
