---
import Image from "$components/Image.astro"
import type { AstroBuiltinAttributes } from "astro"

interface Props {
	src: ImageMetadata | Promise<{ default: ImageMetadata }>
	alt?: string
	caption?: string
	rounded?: boolean
	shadow?: boolean
	noLink?: boolean
}
const { src, alt, caption, rounded, shadow, noLink } = Astro.props

const resolvedSrc = "then" in src ? (await src).default : src
const classes: AstroBuiltinAttributes["class:list"] = { "rounded-md": rounded, shadow: shadow }
const width = Math.min(resolvedSrc.width, 1920)
---

<figure>
	{
		noLink ? (
			<Image src={resolvedSrc} width={width} alt={alt || ""} class:list={classes} />
		) : (
			<a href={resolvedSrc.src}>
				<Image src={resolvedSrc} width={width} alt={alt || ""} class:list={classes} />
			</a>
		)
	}
	{
		Astro.slots.has("default") && (
			<figcaption>
				<slot />
			</figcaption>
		)
	}
	{
		caption && (
			<figcaption>
				<slot>{caption}</slot>
			</figcaption>
		)
	}
</figure>
