---
import { Image } from "astro:assets"

interface Props {
	src: ImageMetadata
	alt?: string
	caption?: string
	rounded?: boolean
	shadow?: boolean
	noLink?: boolean
}
const { src, alt, caption, rounded, shadow, noLink } = Astro.props
const classes = (rounded ? "rounded-md" : "") + (shadow ? " shadow" : "")
---

<figure>
	{
		noLink ? (
			<Image src={src} alt={alt || ""} class={classes} />
		) : (
			<a href={src.src}>
				<Image src={src} alt={alt || ""} class={classes} />
			</a>
		)
	}
	{
		Astro.slots.has("default") && (
			<figcaption>
				<slot />
			</figcaption>
		)
	}
	{
		caption && (
			<figcaption>
				<slot>{caption}</slot>
			</figcaption>
		)
	}
</figure>
