---
import Image from "$components/Image.astro"
import type { AstroBuiltinAttributes, ImageQuality } from "astro"

interface Props {
	src: ImageMetadata | Promise<{ default: ImageMetadata }>
	alt?: string
	caption?: string
	rounded?: boolean
	shadow?: boolean
	resolution: "third" | "half" | "normal" | "high"
	percentWidth?: number
	zoomQuality?: ImageQuality
}
const {
	src: srcToResolve,
	alt,
	caption,
	rounded,
	shadow,
	resolution,
	percentWidth,
	zoomQuality,
	...attributes
} = Astro.props

const src = "then" in srcToResolve ? (await srcToResolve).default : srcToResolve
const classes: AstroBuiltinAttributes["class:list"] = { "rounded-md": rounded, shadow: shadow }

function getMaxWidth() {
	switch (resolution) {
		case "third":
			return 640
		case "half":
			return 960
		case "normal":
			return 1280
		case "high":
			return 1920
	}
}

const imgWidth = Math.min(src.width, getMaxWidth())
---

<figure style={{ maxWidth: percentWidth && `${percentWidth}%` }}>
	<Image
		src={src}
		width={imgWidth}
		zoomQuality={zoomQuality}
		alt={alt || ""}
		class:list={classes}
		{...attributes}
	/>
	{
		Astro.slots.has("default") && (
			<figcaption>
				<div>
					<slot />
				</div>
			</figcaption>
		)
	}
	{
		caption && (
			<figcaption>
				<div>
					<slot>{caption}</slot>
				</div>
			</figcaption>
		)
	}
</figure>
