---
import crypto from "node:crypto"
import Movie from "./Movie.astro"
import Game from "./Game.astro"
import MoviePerson from "./MoviePerson.astro"

interface Props {
	movie?: string
	moviePerson?: string
	game?: string
}
const { movie, moviePerson, game } = Astro.props

const uid = crypto.randomUUID()
---

<span id={`span-${uid}`} class="relative inline"
	><a
		id={`text-${uid}`}
		class="popup-link unstyled cursor-context-menu rounded-sm underline decoration-[--popup] decoration-1 underline-offset-3 active:!bg-[--popup]"
		><slot /></a
	></span
>

<template id={`template-${uid}`}>
	<div
		class="popup absolute bottom-[25px] hidden h-[240px] rounded-md border-2 border-solid border-[--popup] bg-[--bg] indent-0"
		style={{ transform: "translateX(-50%)" }}
	>
		{movie && <Movie id={movie} popup />}
		{moviePerson && <MoviePerson id={moviePerson} popup />}
		{game && <Game slug={game} popup />}
	</div>
</template>

<script define:vars={{ uid }}>
	window.popupZindex = 10
	document.addEventListener("DOMContentLoaded", function () {
		const template = document.getElementById(`template-${uid}`)
		const templateClone = template.content.firstElementChild.cloneNode(true)

		var span = document.getElementById(`span-${uid}`)
		var text = document.getElementById(`text-${uid}`)
		var popup = span.appendChild(templateClone)

		var opened = false

		text.addEventListener("click", function () {
			if (opened) {
				opened = false
				popup.style.display = "none"
				text.classList.remove("bg-[--popup-active]", "cursor-pointer")
				return
			}
			// opening popup
			opened = true
			var textRect = text.getBoundingClientRect()
			// here -4 is the borders width
			popup.style.width = Math.min(460, document.documentElement.clientWidth - 20 - 4) + "px"
			popup.style.left = textRect.width / 2 + "px"

			popup.style.display = "block"
			text.classList.add("bg-[--popup-active]", "cursor-pointer")

			window.popupZindex = Math.min(window.popupZindex + 1, 99)
			popup.style.zIndex = window.popupZindex

			// If the popup is too high on the page, we move it to the bottom
			popup.style.removeProperty("top")
			var popupRect = popup.getBoundingClientRect()
			if (popupRect.top < -window.scrollY) {
				popup.style.top = "20px"
			}
			// Bounds the x position on the screen
			if (popupRect.right > document.documentElement.clientWidth) {
				popup.style.left = "0px"
				popupRect = popup.getBoundingClientRect()
				popup.style.left = document.documentElement.clientWidth - popupRect.right - 10 + "px"
			} else if (popupRect.left < 0) {
				popup.style.left = "0px"
				popupRect = popup.getBoundingClientRect()
				popup.style.left = -popupRect.left + 10 + "px"
			}
			// Makes the little pictures zoomable
			window.mediumZoom.attach(document.querySelectorAll("[data-zoomable]"))
		})
	})
</script>
