---
interface Props {
	title: string
	author?: string
	foreign?: boolean
	date?: string
	publisher?: string
	jp?: boolean
	link?: URL
	archive?: URL
	archiveDate?: string
}
const { title, author, foreign, date, publisher, jp, link, archive, archiveDate } = Astro.props
// If foreign, the title will be italicized. If jp (japanese), the publisher will not be italicized.

if (!archive) console.warn(`Not archived: "${title}"`)
else if (!archiveDate) console.warn(`No archive date: "${title}"`)
---

<!-- prettier-ignore -->
<span>
	{author && `${author},`}
	« {
		foreign ?
			<i>{link ?
				<a href={link} target="_blank">{title}</a>
				: title
			}</i>
			: link ?
				<a href={link} target="_blank">{title}</a>
				: title
	} »{
		publisher && <>, {jp ? publisher : <i>{publisher}</i>}</>
	}{
		date && `, le ${date}`
	}{
		archive && <> (<a href={archive} target="_blank">{archiveDate ? `archive du ${archiveDate}` : "archive"}</a>)</>
	}
</span>
