---
import type { HTMLAttributes } from "astro/types"

interface Props extends Omit<HTMLAttributes<"video">, "src"> {
	src: string
	autoplay?: boolean
	muted?: boolean
	loop?: boolean
	controls?: boolean
	poster?: string
	caption?: string
}
const { src, autoplay, muted, loop, controls, poster, caption, ...attributes } = Astro.props
---

<figure>
	<video
		width="1920"
		height="1080"
		autoplay={autoplay}
		muted={muted}
		loop={loop}
		controls={controls}
		poster={poster}
		{...attributes}
	>
		<source src={src} />
		<p>
			Désolé, votre navigateur ne peut pas lire cette vidéo. Vous pouvez
			<a href="/about">me contacter</a>
			pour me signaler le problème ou
			<a href={src}>télécharger la vidéo</a>.
		</p>
	</video>
	{
		Astro.slots.has("default") && (
			<figcaption>
				<slot />
			</figcaption>
		)
	}
	{
		caption && (
			<figcaption>
				<slot>
					<p>{caption}</p>
				</slot>
			</figcaption>
		)
	}
</figure>
