---
interface Props {
	src: string
	autoplay: boolean
	muted: boolean
	loop: boolean
	controls: boolean
	poster: string
	caption: string
}
const { src, autoplay, muted, loop, controls, poster, caption } = Astro.props
---

<div class="sidenote">
	<slot />
</div>

<figure>
	<video src={src} autoplay={autoplay} muted={muted} loop={loop} controls={controls} poster={poster}
	></video>
	{
		caption && (
			<figcaption>
				<p>{caption}</p>
			</figcaption>
		)
	}
</figure>
