---
import getWikipediaPage from "scripts/getWikipediaPage"
import NewPopup from "./NewPopup.astro"

interface Props {
	title: string
	lang?: string
}
const { title, lang } = Astro.props

const summary = await getWikipediaPage(title, lang)
const url = summary.content_urls.desktop.page
---

<NewPopup
	navBarTitle={summary.title}
	navBarLinks={[{ title: "Wikipédia", url: url }]}
	url={url}
	padding
>
	<slot />
	<Fragment slot="popup-contents">
		{
			summary.thumbnail && (
				<img
					class="float-right mb-4 ml-4 !max-w-[30%] rounded-sm border border-solid"
					data-zoomable
					src={summary.thumbnail.source}
					width={summary.thumbnail.width}
					height={summary.thumbnail.height}
					data-zoom-src={summary.originalimage.source}
					data-zoom-width={summary.originalimage.width}
					data-zoom-height={summary.originalimage.height}
				/>
			)
		}
		<h3>{summary.title}</h3>
		<Fragment set:html={summary.extract_html} />
		<!--<p class="source"><a href={url}>Continuer sur Wikipédia{lang == "en" && " en anglais"}</a></p> -->
	</Fragment>
</NewPopup>
