---
import { getEntries, type CollectionEntry } from "astro:content"
import { getImage } from "astro:assets"
import getPalette, { getColor } from "$utils/design/palettes"
import ArticleDate from "../articles/ArticleDate.astro"

interface Props {
	article: CollectionEntry<"blog">
	noPlace?: boolean
}
const { article, noPlace } = Astro.props
const data = article.data
const palette = getPalette(article.data.palette)
const showCover = () => data.tags.find((tag) => tag.slug == "photos") && data.image
const optimizedBackground =
	showCover() && data.image ? await getImage({ src: data.image, width: 500 }) : null
const place = data.places.length > 0 ? (await getEntries(data.places))[0].data.title : undefined
// text-[--bg] is used to color the shadow
---

<a
	class="duration-80 scale-100 bg-[--bg] ease-out hover:z-10 hover:scale-[1.02]"
	style={{
		fontFamily: palette.baseFont,
		"--bg": getColor(palette.bgColor),
		"--text": getColor(palette.baseColor),
		"--secondary-color": getColor(palette.secondaryColor),
	}}
	href={"/" + article.slug}
>
	<div
		class="mx-auto max-w-[calc(500px+2em)] bg-[--bg] bg-cover bg-center px-[calc(20px+1em)] py-[14px] text-[--text] small:px-5"
		style={{
			backgroundImage: showCover()
				? `linear-gradient(${palette.bgColor}99, ${palette.bgColor}49), url('${optimizedBackground?.src}')`
				: "none",
			boxShadow: "inset 2em 0 1em -1em var(--bg), inset -2em 0 1em -1em var(--bg)",
		}}
	>
		<span class="mb-2 text-lg font-bold" style={{ fontFamily: palette.headingsFont }}>
			{data.title}{data.draft && " [Draft]"}
		</span>
		<span
			class="font-sofia-sans text-xs uppercase text-[--secondary-color]"
			style={{
				textShadow: `0 0 1em ${palette.bgColor}`,
			}}
		>
			<ArticleDate date={article.data.date} nonBreakingSpaces />{
				place && !noPlace && <span> / {place}</span>
			}
		</span>
	</div>
</a>

<style>
	a {
		transition: 0.25s;
	}
	@media (prefers-color-scheme: dark) {
		a {
			box-shadow: 0 0 40px -12px;
			transition: 0.3s;

			&:hover {
				box-shadow: 0 10px 80px -6px;
			}
		}
	}
</style>
