---
export const prerender = false

import BaseLayout from "$layouts/BaseLayout.astro"
import NotionPageContent from "$components/notion/NotionPageContent.astro"
import formatDate from "$utils/formatting/formatDate"
import { Icon } from "astro-icon/components"
import { getWikiPages } from "$utils/getCollection"

const pages = await getWikiPages(true)
const page = pages.find((page) => page.slug == Astro.params.slug)

if (!page) {
	return new Response(null, {
		status: 404,
		statusText: "Page introuvable",
	})
}
---

<BaseLayout
	ssr
	title={page.title}
	ogType="article"
	bg={{ light: "white", dark: "black" }}
	navBarProps={{ title: page.title, parent: { title: "Wiki personnel", href: "/wiki" } }}
>
	<div class="prose prose-sm prose-neutral mx-auto mb-16 px-4 dark:prose-invert">
		<header
			class="not-prose flex justify-between pb-8 pt-10 font-work-sans text-sm text-neutral-400"
		>
			<p>
				<a href="/wiki" class="hover:text-neutral-200">← Wiki personnel</a>
			</p>
		</header>
		<main>
			<h1>{page.title}</h1>
			{page.description && <p class="lead">{page.description}</p>}
			<div class="not-prose font-work-sans text-sm text-neutral-500">
				<p class="text-neutral-500">
					{
						page.status && (
							<>
								<span>{page.status.icon}</span>
								<span>{page.status.text} ·</span>
							</>
						)
					}
					<Icon name="material-symbols:update-rounded" class="mb-[0.15em] inline-block" />
					{formatDate(new Date(page.editedTime))}
				</p>
			</div>
			<NotionPageContent id={page.id} />
		</main>
	</div>
</BaseLayout>
