---
import type { CollectionEntry } from "astro:content"
import BaseLayout from "./BaseLayout.astro"
import getPalette from "src/utils/palettes"
import ArticleHeader from "$components/ArticleHeader.astro"
import ArticleContents from "$components/ArticleContents.astro"

export interface Props {
	article: CollectionEntry<"blog">
}

const { article } = Astro.props
const data = article.data
const palette = getPalette(data.palette)
const image = data.cover && data.image ? data.image : undefined
---

<BaseLayout
	title={data.title}
	description={data.description}
	date={data.date}
	image={image}
	bg={palette.backgroundColor}
>
	<div class="article-styling">
		<ArticleHeader
			title={data.title}
			description={data.description}
			date={data.date}
			cover={image}
			palette={palette}
		/>
		<ArticleContents palette={palette} license={data.license}>
			<slot />
		</ArticleContents>
	</div>
</BaseLayout>
