---
import { type CollectionEntry } from "astro:content"
import getEntryOrThrow from "$utils/content/getEntryOrThrow"
import BaseLayout from "./BaseLayout.astro"
import getPalette, { PaletteName, paletteVariables } from "$utils/design/palettes"
import ArticleHeader from "$components/articles/ArticleHeader.astro"
import TableOfContents from "$components/articles/TableOfContents.astro"
import type { MarkdownHeading } from "astro"
import "$styles/article-layers.css"
import "$styles/hyphenation.css"
import getRelatedArticles from "$utils/getRelatedArticles"
import NavbarAccessFooter from "$components/navbar/NavbarAccessFooter.astro"
import getSeeAlso from "$utils/getSeeAlso"
import GenerateSidenotes from "$components/sidenotes/GenerateSidenotes.astro"

interface Props {
	article: CollectionEntry<"blog" | "pages" | "diary">
	collection: "blog" | "pages" | "diary"
	headings: MarkdownHeading[]
}

const { article, collection, headings } = Astro.props
const data = article.data
const date = "date" in data ? data.date : undefined
const wide = data.tags.find((tag) => tag.id == "photos") && !data.forceNarrow
// Alternative layouts
const customLayout = data.customLayout
const sidenotes = data.sidenotes
if (sidenotes && headings.at(-1)?.text == "Notes") headings.pop()
// Images
const ogImage = "opengraph" in data && data.opengraph ? data.opengraph : data.image
const coverImage = data.cover && data.image ? data.image : undefined
const palette = getPalette(data.palette)
// Related articles
const relatedArticles = async () => {
	switch (article.collection) {
		case "blog":
			return (await getRelatedArticles(article as CollectionEntry<"blog">)).map((a) => ({
				title: a.article.data.title,
				href: `/${a.article.id}`,
			}))
		case "pages":
			return await getSeeAlso(article.data.seeAlso)
		default:
			return undefined
	}
}
const parent =
	article.collection == "pages" &&
	article.data.parent &&
	(await getEntryOrThrow("pages", article.data.parent))

const removeStyle = (str: string) => str.replaceAll("*", "")
const maybeRemoveStyle = (str?: string) => str?.replaceAll("*", "")
---

<BaseLayout
	ogType="article"
	title={removeStyle(data.title)}
	description={maybeRemoveStyle(data.description)}
	{date}
	image={ogImage?.src}
	bg={palette.bgColor}
	popupBorderColor={palette.popupBorderColor}
	popupLabelActiveBgColor={palette.popupLabelActiveBgColor}
	codeTheme={palette.codeTheme}
	paletteName={palette.name}
	layout={data.layouts}
	viewportCover
	navBarProps={{
		title: removeStyle(data.title),
		parent:
			collection == "blog"
				? { title: "Blog", href: "/" }
				: collection == "diary"
					? { title: "Journal", href: "/diary" }
					: parent
						? { title: parent.data.title, href: `/${parent.id}` }
						: undefined,
		related: await relatedArticles(),
		relatedTitle: collection == "blog" ? "Articles similaires" : "Voir aussi",
		headings: headings,
	}}
>
	<div
		class:list={["article-styling notw", { "with-sidenotes": sidenotes }]}
		style={paletteVariables(palette)}
	>
		{
			!customLayout && (
				<ArticleHeader
					title={data.title}
					description={data.description}
					longDescription={data.longDesc}
					tags={data.tags}
					{date}
					cover={coverImage}
					{palette}
					layouts={data.layouts}
					sidenotes={Boolean(sidenotes)}
					{wide}
					anchorTop={data.imageAnchorTop}
				/>
			)
		}
		<main
			class:list={{
				"px-[80px] pb-16 medium:px-[40px] small:px-[20px]": !customLayout && !sidenotes,
				"m-auto max-w-[calc(var(--page-width)*1.5+4em)] xl:max-w-none xl:px-[80px] xl:pb-16 medium:px-[40px] small:px-[20px]":
					sidenotes,
			}}
			class="font-[family-name:--base-font] text-[length:--font-size] leading-[--line-height] text-[color:--base-color] small:text-[length:--sm-font-size] small:leading-[--sm-line-height] dark:text-[color:--dark-base-color]"
		>
			<div
				class:list={[
					{ "xl:m-auto": sidenotes },
					{ "m-auto": !customLayout && !sidenotes },
					{ "max-w-[--page-width]": !customLayout && !wide },
					{ "max-w-[700px]": wide },
				]}
			>
				{article.data.toc && data.palette == PaletteName.louize && <h3 class="toc">Sommaire</h3>}
				{article.data.toc && <TableOfContents headings={headings} depth={article.data.depth} />}
				<slot />
				{!customLayout && <NavbarAccessFooter />}
			</div>
		</main>
	</div>
</BaseLayout>

<style is:global>
	.article-styling {
		h1 {
			font-family: var(--display-font);
		}
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: var(--headings-font);
		}
	}
</style>

{
	data.sidenotes && !data.sidenotes.layoutOnly && (
		<GenerateSidenotes
			label={data.sidenotes.label}
			toggle={data.sidenotes.toggle}
			visible={data.sidenotes.visible}
			removeFootnotes={data.sidenotes.removeFootnotes}
		/>
	)
}
