---
import "$styles/components-utilities.css"
import "$styles/fonts"
import { ViewTransitions } from "astro:transitions"
import MediumZoom from "$components/MediumZoom.astro"
import GoogleStructuredData from "$components/meta/GoogleStructuredData.astro"
import NavBar from "$components/navbar/NavBar.astro"
import type { NavBarProps } from "$utils/navbar"
import type { Layouts } from "$utils/design/layouts"
import { getColor, type Color, getBothColors } from "$utils/design/palettes"
import type { ShikiConfig } from "astro"

export interface Props {
	title: string
	description?: string
	date?: Date
	image?: string
	layout?: Layouts[]
	bg?: Color
	popupBorderColor?: Color
	popupLabelActiveBgColor?: Color
	font?: "Work Sans"
	codeTheme?: ShikiConfig["theme"]
	navBarProps?: NavBarProps
	ssr?: boolean
	ogType:
		| "website"
		| "article"
		| "profile"
		| "book"
		| "video.movie"
		| "video.other"
		| "music.album"
		| "music.playlist"
}
const {
	title,
	description,
	date,
	image,
	layout,
	bg,
	popupBorderColor,
	popupLabelActiveBgColor,
	font,
	codeTheme,
	navBarProps,
	ssr,
	ogType,
} = Astro.props

// Base website URL (minus slash at the end) + image URL
const ogImageURL = image && Astro.site?.toString().replace(/\/$/, "") + image

const background = getColor(bg) || "#f5f5fa"
const darkBackground = getColor(bg, "dark") || "#17182f"
const { light: popupBorder, dark: darkPopupBorder } = getBothColors(popupBorderColor)
const { light: popupLabelActiveBg, dark: darkPopupActive } = getBothColors(popupLabelActiveBgColor)

// A page might not send props.
let navBarPropsWithFallback = navBarProps || { title: title }
// A page might also send props without a title. In that case,
// we want to fallback to the page title.
navBarPropsWithFallback.title ??= title
---

<!doctype html>
<html lang="fr" data-theme={codeTheme}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Aurélien Dos Santos" />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href={Astro.url} />
		<link
			rel="alternate"
			type="application/rss+xml"
			href="/rss.xml"
			title="Blog d'Aurélien Dos Santos"
		/>
		<title>{title} - Aurélien Dos Santos</title>
		{description && <meta name="description" content={description} />}
		<meta name="theme-color" media="(prefers-color-scheme: light)" content={background} />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content={darkBackground} />
		<meta property="og:title" content={title} />
		{description && <meta property="og:description" content={description} />}
		<meta property="og:url" content={Astro.url} />
		<meta property="og:site_name" content="Aurélien Dos Santos" />
		<meta property="og:type" content={ogType} />
		<meta property="og:locale" content="fr_FR" />
		{
			ogType == "article" && date && (
				<meta property="article:published_time" content={date.toISOString()} />
			)
		}
		{
			ogType == "article" && date && (
				<meta property="article:modified_time" content={date.toISOString()} />
			)
		}
		{image && <meta property="og:image" content={ogImageURL} />}
		<meta name="twitter:site" content="@ooooorelien" />
		<meta name="twitter:creator" content="@ooooorelien" />
		<meta name="twitter:title" content={title} />
		{description && <meta name="twitter:description" content={description} />}
		<meta name="twitter:card" content={image ? "summary_large_image" : "summary"} />
		{image && <meta name="twitter:image" content={ogImageURL} />}
		{ogType == "article" && <GoogleStructuredData title={title} image={image} date={date} />}
		<ViewTransitions />
	</head>
	<body
		class:list={[
			layout,
			"bg-[--bg] dark:bg-[--dark-bg] dark:text-slate-200",
			{
				"font-sans": !font,
				"font-work-sans": font == "Work Sans",
			},
		]}
		style={{
			"--bg": background,
			"--dark-bg": darkBackground,
			"--popup": popupBorder,
			"--dark-popup": darkPopupBorder,
			"--popup-active": popupLabelActiveBg,
			"--dark-popup-active": darkPopupActive,
		}}
	>
		<main>
			<slot />
		</main>
		<MediumZoom />
		<NavBar ssr={ssr} {...navBarPropsWithFallback} />
		<style is:global>
			[data-icon] {
				width: unset;
			}
		</style>
	</body>
</html>
