---
// Serif
import "@fontsource/lora"
import "@fontsource/vollkorn"
// Sans serif
import "@fontsource/lato"
import "@fontsource/noto-sans"
import "@fontsource/nunito"
import "@fontsource/nunito/700.css"
import "@fontsource/sofia-sans"
import "@fontsource/space-grotesk"
import "@fontsource/space-grotesk/700.css"
import "@fontsource/urbanist"
import "@fontsource/urbanist/400-italic.css"
import "@fontsource/work-sans"
import "@fontsource/work-sans/700.css"
import "@fontsource/work-sans/400-italic.css"
import "@fontsource/work-sans/700-italic.css"
// Monospace
import "@fontsource/source-code-pro"

export interface Props {
	title: string
	description?: string
	date?: Date
	image?: string
	bg?: string
	font?: "Work Sans"
	ogType:
		| "website"
		| "article"
		| "profile"
		| "book"
		| "video.movie"
		| "video.other"
		| "music.album"
		| "music.playlist"
}
const { title, description, date, image, bg, font, ogType } = Astro.props

// Base website URL (minus slash at the end) + image URL
const ogImageURL = image && Astro.site?.toString().replace(/\/$/, "") + image

const googleStructuredData = {
	"@context": "https://schema.org",
	"@type": "BlogPosting",
	headline: title,
	image: [{ image }],
	author: {
		"@type": "Person",
		name: "Aurélien Dos Santos",
		url: "https://aureliendossantos.com",
	},
	/* the schema expects Date or DateTime using ISO 8601 format. For Date that is yyyy-MM-dd */
	...(date && {
		datePublished: date.toISOString().substring(0, 10),
		dateModified: date.toISOString().substring(0, 10),
	}),
}
---

<!DOCTYPE html>
<html lang="fr" class:list={{ "font-sans": !font, "font-work-sans": font == "Work Sans" }}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Aurélien Dos Santos" />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href={Astro.url} />
		<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="Blog" />
		<title>{title} - Aurélien Dos Santos</title>
		{description && <meta name="description" content={description} />}
		{bg && <meta name="theme-color" content={bg} />}
		<meta property="og:title" content={title} />
		{description && <meta property="og:description" content={description} />}
		<meta property="og:url" content={Astro.url} />
		<meta property="og:site_name" content="Aurélien Dos Santos" />
		<meta property="og:type" content={ogType} />
		<meta property="og:locale" content="fr_FR" />
		{
			ogType == "article" && date && (
				<meta property="article:published_time" content={date.toISOString()} />
			)
		}
		{
			ogType == "article" && date && (
				<meta property="article:modified_time" content={date.toISOString()} />
			)
		}
		{image && <meta property="og:image" content={ogImageURL} />}
		<meta name="twitter:site" content="@ooooorelien" />
		<meta name="twitter:creator" content="@ooooorelien" />
		<meta name="twitter:title" content={title} />
		{description && <meta name="twitter:description" content={description} />}
		<meta name="twitter:card" content={image ? "summary_large_image" : "summary"} />
		{image && <meta name="twitter:image" content={ogImageURL} />}
		{
			ogType == "article" && (
				<script type="application/ld+json" set:html={JSON.stringify(googleStructuredData)} />
			)
		}
	</head>
	<body class="bg-[#f5f5fa] dark:bg-[#17182f] dark:text-slate-200" style={{ backgroundColor: bg }}>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "Anek Latin";
		src: url("/fonts/AnekLatin.ttf");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif";
		font-weight: 200;
		font-style: normal;
		src: url("/fonts/SourceSerif4/SourceSerif4-ExtraLight.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif";
		font-weight: 200;
		font-style: italic;
		src: url("/fonts/SourceSerif4/SourceSerif4-ExtraLightIt.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif";
		font-weight: 300;
		font-style: normal;
		src: url("/fonts/SourceSerif4/SourceSerif4-Light.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif";
		font-weight: 300;
		font-style: italic;
		src: url("/fonts/SourceSerif4/SourceSerif4-LightIt.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif";
		font-weight: 400;
		font-style: normal;
		src: url("/fonts/SourceSerif4/SourceSerif4-Regular.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif";
		font-weight: 400;
		font-style: italic;
		src: url("/fonts/SourceSerif4/SourceSerif4-It.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif";
		font-weight: 600;
		font-style: normal;
		src: url("/fonts/SourceSerif4/SourceSerif4-Semibold.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif";
		font-weight: 600;
		font-style: italic;
		src: url("/fonts/SourceSerif4/SourceSerif4-SemiboldIt.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif";
		font-weight: 700;
		font-style: normal;
		src: url("/fonts/SourceSerif4/SourceSerif4-Bold.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif";
		font-weight: 700;
		font-style: italic;
		src: url("/fonts/SourceSerif4/SourceSerif4-BoldIt.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif";
		font-weight: 900;
		font-style: normal;
		src: url("/fonts/SourceSerif4/SourceSerif4-Black.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif";
		font-weight: 900;
		font-style: italic;
		src: url("/fonts/SourceSerif4/SourceSerif4-BlackIt.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif SmText";
		font-weight: 400;
		font-style: normal;
		src: url("/fonts/SourceSerif4/SourceSerif4SmText-Regular.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif SmText";
		font-weight: 400;
		font-style: italic;
		src: url("/fonts/SourceSerif4/SourceSerif4SmText-It.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif Display";
		font-weight: 400;
		font-style: normal;
		src: url("/fonts/SourceSerif4/SourceSerif4Display-Regular.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif Display";
		font-weight: 400;
		font-style: italic;
		src: url("/fonts/SourceSerif4/SourceSerif4Display-It.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif Subhead";
		font-weight: 400;
		font-style: normal;
		src: url("/fonts/SourceSerif4/SourceSerif4Subhead-Regular.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif Subhead";
		font-weight: 400;
		font-style: italic;
		src: url("/fonts/SourceSerif4/SourceSerif4Subhead-It.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif Caption";
		font-weight: 400;
		font-style: normal;
		src: url("/fonts/SourceSerif4/SourceSerif4Caption-Regular.ttf.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Source Serif Caption";
		font-weight: 400;
		font-style: italic;
		src: url("/fonts/SourceSerif4/SourceSerif4Caption-It.ttf.woff2") format("woff2");
		font-display: swap;
	}
</style>
