---
import "$styles/fonts"
import "$styles/tailwind.css"
import "$styles/icons.css"
import MediumZoom from "$components/MediumZoom.astro"
import GoogleStructuredData from "$components/meta/GoogleStructuredData.astro"
import NavBar from "$components/navbar/NavBar.astro"
import type { NavBarProps } from "$utils/navbar"
import type { Layouts } from "$utils/design/layouts"
import { getColor, type Color, getBothColors, PaletteName } from "$utils/design/palettes"
import ColorLib from "color"
import type { ShikiConfig } from "astro"
import NavBarMargin from "$components/navbar/NavBarMargin.astro"
import SearchEntries from "$components/navbar/SearchEntries.astro"

export interface Props {
	title: string
	description?: string
	date?: Date
	image?: string
	layout?: Layouts[]
	bg?: Color
	popupBorderColor?: Color
	popupLabelActiveBgColor?: Color
	font?: "Work Sans" | "Sofia Sans"
	codeTheme?: ShikiConfig["theme"]
	paletteName?: PaletteName
	navBarProps?: NavBarProps
	ssr?: boolean
	viewportCover?: boolean
	ogType:
		| "website"
		| "article"
		| "profile"
		| "book"
		| "video.movie"
		| "video.other"
		| "music.album"
		| "music.playlist"
}
const {
	title,
	description,
	date,
	image,
	layout,
	bg,
	popupBorderColor,
	popupLabelActiveBgColor,
	font,
	codeTheme,
	paletteName,
	navBarProps,
	ssr,
	viewportCover,
	ogType,
} = Astro.props

// Base website URL (minus slash at the end) + image URL
const ogImageURL = image && Astro.site?.toString().replace(/\/$/, "") + image
const icon = "❦"

const background = getColor(bg) || "#f5f5fa"
const darkBackground = getColor(bg, "dark") || "#17182f"
const { light: popupBorder, dark: darkPopupBorder } = getBothColors(popupBorderColor)
const { light: popupLabelActiveBg, dark: darkPopupActive } = getBothColors(popupLabelActiveBgColor)

// Navbar colors
let paletteBg
try {
	paletteBg = {
		light: ColorLib(getColor(bg, "light") || "white"),
		dark: ColorLib(getColor(bg, "dark") || "black"),
	}
} catch (error) {
	console.warn("Error in BaseLayout Color:", error)
	paletteBg = { light: ColorLib("white"), dark: ColorLib("black") }
}
const getNavbarCssProperties = (bg: ColorLib, prefix = "") => {
	const isLight = bg.isLight()
	const text = bg.lightness(isLight ? 10 : 90).string()
	const border = ColorLib(
		isLight ? bg.mix(ColorLib("black"), 0.1) : bg.mix(ColorLib("white"), 0.25)
	).string()
	const hoverBg = bg
		.lightness(isLight ? 10 : 90)
		.desaturate(0.5)
		.string()
	const hoverText = bg
		.lightness(isLight ? 90 : 10)
		.desaturate(0.5)
		.string()
	return {
		[`--${prefix}navbar-text`]: text,
		[`--${prefix}navbar-bg`]: bg.alpha(0.8).string(),
		// Except in Firefox, nested backdrop filters don't work. Until a workaround is found, using a more legible bg.
		[`--${prefix}navbar-bg-compatible`]: bg.alpha(0.9).string(),
		[`--${prefix}navbar-bg-plain`]: bg.string(),
		[`--${prefix}navbar-bg-filter`]: "saturate(180%) blur(20px)",
		[`--${prefix}navbar-border`]: border,
		[`--${prefix}navbar-hover-bg`]: hoverBg,
		[`--${prefix}navbar-hover-text`]: hoverText,
		[`--${prefix}navbar-is-dark`]: bg.isDark() ? 1 : 0,
	}
}
const navbarCssProperties = {
	...getNavbarCssProperties(paletteBg.light),
	...getNavbarCssProperties(paletteBg.dark, "dark-"),
}

const lang = Astro.currentLocale == "fr" ? "fr-FR" : "en-US"

// A page might not send props.
let navBarPropsWithFallback = navBarProps || { title: title }
// A page might also send props without a title. In that case,
// we want to fallback to the page title.
navBarPropsWithFallback.title ??= title
---

<!doctype html>
<html {lang} data-theme={codeTheme} data-palette={paletteName} data-overlayscrollbars-initialize>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
		<meta name="author" content="Aurélien Dos Santos" />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href={Astro.url} />
		<link
			rel="alternate"
			type="application/rss+xml"
			href="/rss.xml"
			title="Blog d'Aurélien Dos Santos"
		/>
		<title>{title} · Aurélien Dos Santos</title>
		{description && <meta name="description" content={description} />}
		<meta name="theme-color" media="(prefers-color-scheme: light)" content={background} />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content={darkBackground} />
		<link
			rel="icon"
			href=`data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text text-anchor="middle" x="50" y="80" font-size="90">${icon}</text></svg>`
		/>
		<meta property="og:title" content={title} />
		{description && <meta property="og:description" content={description} />}
		<meta property="og:url" content={Astro.url} />
		<meta property="og:site_name" content="Aurélien Dos Santos" />
		<meta property="og:type" content={ogType} />
		<meta property="og:locale" content="fr_FR" />
		{
			ogType == "article" && date && (
				<meta property="article:published_time" content={date.toISOString()} />
			)
		}
		{
			ogType == "article" && date && (
				<meta property="article:modified_time" content={date.toISOString()} />
			)
		}
		{image && <meta property="og:image" content={ogImageURL} />}
		<meta name="twitter:site" content="@ooooorelien" />
		<meta name="twitter:creator" content="@ooooorelien" />
		<meta name="twitter:title" content={title} />
		{description && <meta name="twitter:description" content={description} />}
		<meta name="twitter:card" content={image ? "summary_large_image" : "summary"} />
		{image && <meta name="twitter:image" content={ogImageURL} />}
		{ogType == "article" && <GoogleStructuredData title={title} image={image} date={date} />}
	</head>
	<body
		class:list={[
			layout,
			"bg-[--bg] dark:bg-[--dark-bg]",
			{
				"font-sans": !font,
				"font-work-sans": font == "Work Sans",
				"font-sofia-sans": font == "Sofia Sans",
			},
		]}
		style={{
			"--bg": background,
			"--dark-bg": darkBackground,
			"--popup": popupBorder,
			"--dark-popup": darkPopupBorder,
			"--popup-active": popupLabelActiveBg,
			"--dark-popup-active": darkPopupActive,
			"--has-viewport-cover": viewportCover ? "0" : "-1",
			paddingLeft: viewportCover ? 0 : "env(safe-area-inset-left)",
			paddingRight: viewportCover ? 0 : "env(safe-area-inset-right)",
			...navbarCssProperties,
		}}
		data-overlayscrollbars-initialize
	>
		<MediumZoom />
		<NavBar {viewportCover} {...navBarPropsWithFallback} />
		<slot />
		<NavBarMargin />
		<SearchEntries {ssr} />
		<style is:global>
			[data-icon] {
				width: unset;
			}
		</style>
	</body>
</html>
