---
import ArticleCardMinimal from "$components/ArticleCardMinimal.astro"
import TagLabel from "$components/TagLabel.astro"
import BaseLayout from "$layouts/BaseLayout.astro"
import type { CollectionEntry } from "astro:content"
import getBlogPosts from "$utils/getBlogPosts"
import getUniqueValuesAndOccurences from "$utils/getUniqueValuesAndOccurences"

export async function getStaticPaths() {
	const allArticles = await getBlogPosts()
	const rawCategories = allArticles.map((article) => article.data.categories)

	const categories = getUniqueValuesAndOccurences(rawCategories)

	return Object.entries(categories).map(([category, amount], i) => {
		const filteredArticles = allArticles.filter(
			(article) => article.data.categories && article.data.categories.includes(category)
		)
		return {
			params: { category },
			props: { articles: filteredArticles, categories },
		}
	})
}

type Props = {
	title: string
	type: "Explorer" | "Catégories" | "Tags" | "Lieux"
	animation: "categories" | "tags" | "places"
}
const { title, type, animation } = Astro.props

const paths = { Explorer: undefined, Catégories: "categories", Tags: "tags", Lieux: "blog/places" }
const path = paths[type]
---

<BaseLayout ogType="website" title={`${title}`} font="Work Sans">
	<div class="mx-auto mb-12 max-w-[500px] px-4" transition:animate="initial">
		<header class="my-12 px-5">
			<div class="my-5 mb-6">
				◂
				<a href="/blog">Retour au blog</a>
			</div>
			<h2 class="text-sm uppercase leading-tight text-slate-300 dark:text-slate-700">
				{
					path ? (
						<a
							href={`/${path}`}
							class="bg-transparent hover:bg-slate-200 hover:text-slate-400 active:bg-slate-300 dark:hover:bg-slate-800 dark:hover:text-slate-600 dark:active:bg-slate-700"
						>
							{type}/
						</a>
					) : (
						<>{type}/</>
					)
				}
			</h2>
			<h1 class="text-2xl leading-tight text-slate-500">
				<span>{title}</span>
			</h1>
			<slot name="header" />
		</header>
		<slot />
	</div>
</BaseLayout>

<style>
	a {
		@apply bg-slate-200 hover:bg-slate-300 active:bg-slate-400 dark:bg-slate-800 dark:hover:bg-slate-700 dark:active:bg-slate-600;
	}
</style>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>
