---
import type { CollectionEntry } from "astro:content"
import ArticleDate from "$components/ArticleDate.astro"
import NavbarAccessFooter from "$components/NavbarAccessFooter.astro"
import BaseLayout from "./BaseLayout.astro"
import getPalette from "$utils/palettes"
import "$styles/tufte.scss"

interface Props {
	article: CollectionEntry<"blog">
}

const { article } = Astro.props
const data = article.data
const palette = getPalette(data.palette)
const ogImage = data.opengraph || data.image
const html = (await Astro.slots.render("default")).replaceAll(
	"<section-switch></section-switch>",
	"</section><section>"
)
---

<BaseLayout
	ogType="article"
	title={data.title}
	description={data.description}
	date={data.date}
	image={ogImage?.src}
	bg={palette.backgroundColor}
	popupColor={palette.popupColor}
	popupActiveColor={palette.popupActiveColor}
	layout={data.layouts}
	navBarProps={{ title: data.title, parent: { title: "Blog", href: "/" } }}
>
	<article>
		<header>
			<h1 class="title">{data.title}</h1>
			<p class="subtitle">{data.description}</p>
			<p class="byline">
				<ArticleDate date={data.date} /> &ndash; <a href="/">Aurélien Dos Santos</a>
			</p>
		</header>
		<section set:html={html} />
		<NavbarAccessFooter palette={data.palette} />
	</article>
</BaseLayout>
