---
import type { CollectionEntry } from "astro:content"
import ArticleDate from "$components/ArticleDate.astro"
import BackHome from "$components/BackHome.astro"
import BaseLayout from "./BaseLayout.astro"
import getPalette from "$utils/palettes"
import "$styles/tufte/tufte.scss"
import "$styles/tufte/pandoc.scss"
import "$styles/tufte/tufte-extra.scss"

export interface Props {
	article: CollectionEntry<"blog">
}

const { article } = Astro.props
const data = article.data
const palette = getPalette(data.palette)
const ogImage = data.opengraph || data.image
const html = (await Astro.slots.render("default")).replaceAll(
	"<section-switch></section-switch>",
	"</section><section>"
)
---

<BaseLayout
	ogType="article"
	title={data.title}
	description={data.description}
	date={data.date}
	image={ogImage?.src}
	bg={palette.backgroundColor}
	popupColor={palette.popupColor}
	popupActiveColor={palette.popupActiveColor}
	layout={data.layouts}
>
	<article>
		<header>
			<p class="byline" style="margin-top: 0">◂ <a href="/blog">Retour au blog</a></p>
			<h1 class="title">{data.title}</h1>
			<p class="subtitle">{data.description}</p>
			<p class="byline">
				<ArticleDate date={data.date} /> &ndash; Aurélien Dos Santos
			</p>
		</header>
		<section set:html={html} />
		<BackHome />
	</article>
</BaseLayout>
