---
import "$styles/portfolio.css"
import { getCollection, type CollectionEntry } from "astro:content"
import BaseLayout from "$layouts/BaseLayout.astro"
import Badge from "$components/portfolio/Badge.astro"
import ArticleDate from "$components/articles/ArticleDate.astro"
import Aside from "$components/portfolio/Aside.astro"
import { Icon } from "astro-icon/components"
import GenerateSidenotes from "$components/sidenotes/GenerateSidenotes.astro"

export async function getStaticPaths() {
	const projects = await getCollection("portfolio")
	return projects.map((project) => ({
		params: { portfolio: project.slug },
		props: { project },
	}))
}

interface Props {
	project: CollectionEntry<"portfolio">
}
const { project } = Astro.props
const { Content } = await project.render()
const data = project.data
const allRoles = [...data.roles, ...data.moreRoles]
const allTools = [...data.tools, ...data.moreTools]
const width = 336 * 2 + 552
---

<BaseLayout
	ogType="article"
	title={`${data.title} - Portfolio d'Aurélien Dos Santos`}
	description={data.description}
	bg="#FFFCF0"
	date={data.release}
	image={data.image?.src}
	navBarProps={{ title: data.title, parent: { title: "Portfolio", href: "/portfolio" } }}
>
	<div class="m-auto flex min-h-screen w-full">
		<div class="grow bg-fi-base-50 mediumlarge:hidden"></div>
		<Aside />
		<article
			class="prose prose-sm prose-stone box-content max-w-[70ch] border-l-[1.5px] border-fi-base-100 bg-fi-paper p-12 font-adelle font-light prose-h2:font-adelle-sans prose-h2:font-semibold prose-strong:font-medium mediumlarge:border-l-0"
		>
			{
				(data.client || data.release) && (
					<p
						class="mb-2 text-xl font-light text-fi-base-300 transition hover:text-fi-base-600"
						style={{ fontFeatureSettings: "'tnum', 'lnum'" }}
					>
						{data.release && <ArticleDate yearOnly date={data.release} />}
						{data.client && data.release && <span> · </span>}
						{data.client}
					</p>
				)
			}
			<h1 class="mb-0 font-adelle-sans text-5xl font-bold">{data.title}</h1>
			<p class="mb-0 mt-[20px] font-adelle-sans text-xl font-semibold text-fi-base-300">
				{data.lede}
			</p>
			<div class="not-prose my-[20px] flex flex-wrap gap-2">
				{
					allRoles.map((role) => (
						<Badge square color="sky">
							{role}
						</Badge>
					))
				}
				{allTools.map((tool) => <Badge>{tool}</Badge>)}
			</div>
			{
				data.link && (
					<a
						class="not-prose my-[28px] block border-[1.5px] border-fi-base-100 bg-fi-base-50 px-[2em] py-[1em] font-adelle-sans text-fi-base-600 transition hover:text-fi-orange-400"
						href={data.link}
						target="_blank"
					>
						{data.linkTitle || data.link.replace("https://", "")}
						<Icon
							name="ic:baseline-launch"
							class="-mb-[0.1em] inline-block h-[0.9em] align-baseline"
						/>
					</a>
				)
			}
			<Content />
		</article>
		{/* HACK: Sidenotes width */}
		<div class="min-w-[337px] xl:hidden"></div>
		<div class="grow mediumlarge:hidden"></div>
	</div>
</BaseLayout>

<GenerateSidenotes label="number" toggle={false} visible={false} removeFootnotes={true} />

<style is:global>
	figure {
		video,
		lite-youtube {
			@apply border-y-[1.5px] border-fi-base-100 bg-fi-base-100;
		}
		figcaption {
			@apply mx-12 font-normal;
		}
	}
</style>
