---
import "$styles/portfolio.css"
import { getCollection, type CollectionEntry, render } from "astro:content"
import BaseLayout from "$layouts/BaseLayout.astro"
import Badge from "$components/portfolio/Badge.astro"
import ArticleDate from "$components/articles/ArticleDate.astro"
import Aside from "$components/portfolio/Aside.astro"
import { Icon } from "astro-icon/components"
import GenerateSidenotes from "$components/sidenotes/GenerateSidenotes.astro"
import TableOfContents from "$components/articles/TableOfContents.astro"
import MarkdownIt from "markdown-it"

export async function getStaticPaths() {
	const projects = await getCollection("portfolio")
	return projects.map((project) => ({
		params: { portfolio: project.id },
		props: { project },
	}))
}

interface Props {
	project: CollectionEntry<"portfolio">
}
const { project } = Astro.props
const { Content, headings } = await render(project)
const data = project.data
const linkTitle = data.linkTitle && MarkdownIt({ html: true }).renderInline(data.linkTitle)
// If the last heading is named "Notes", remove it from the TOC
if (headings.at(-1)?.text == "Notes") headings.pop()
const allRoles = [...data.roles, ...data.moreRoles]
const allTools = [...data.tools, ...data.moreTools]
---

<BaseLayout
	ogType="article"
	title={`${data.title} - Portfolio d'Aurélien Dos Santos`}
	description={data.description}
	bg="#FFFCF0"
	date={data.date}
	image={data.image?.src}
	navBarProps={{ title: data.title, parent: { title: "Portfolio", href: "/portfolio" } }}
>
	<div
		class="m-auto flex min-h-screen w-full"
		style={{
			"--base-color": "#100F0F", // black
			"--dark-base-color": "#100F0F",
			"--secondary-color": "#6F6E69", // 600
			"--dark-secondary-color": "#6F6E69",
			"--popup": "#B7B5AC",
			"--dark-popup": "#B7B5AC",
			"--popup-active": "#F2F0E5",
			"--dark-popup-active": "#F2F0E5",
			"--code-font": "nk57",
		}}
	>
		<div class="grow bg-fi-base-50 mediumlarge:hidden"></div>
		<Aside />
		<article
			class="hover:prose-a:text-fi-orange hover:prose-a:decoration-fi-orange prose prose-sm prose-stone w-svw max-w-[calc(70ch+(3rem*2))] border-l-[1.5px] border-fi-base-100 bg-fi-paper p-12 font-adelle font-light prose-h2:font-adelle-sans prose-h2:font-semibold prose-h3:text-base prose-a:font-light prose-a:decoration-fi-base-300 prose-a:decoration-[1.5px] prose-a:underline-offset-3 prose-a:transition prose-strong:font-medium prose-code:font-[family-name:--code-font] mediumlarge:border-l-0 medium:px-6"
		>
			{
				(data.client || data.date) && (
					<p
						class="mb-2 text-xl font-light text-fi-base-300 transition hover:text-fi-base-600"
						style={{ fontFeatureSettings: "'tnum', 'lnum'" }}
					>
						{data.date && <ArticleDate yearOnly date={data.date} />}
						{data.client && data.date && <span> · </span>}
						{data.client}
					</p>
				)
			}
			<h1 class="mb-0 font-adelle-sans text-5xl font-bold">{data.title}</h1>
			<p class="mb-0 mt-[20px] font-adelle-sans text-xl font-semibold text-fi-base-300">
				{data.lede}
			</p>
			<div class="not-prose my-[20px] flex flex-wrap gap-2">
				{
					allRoles.map((role) => (
						<Badge square color="sky">
							{role}
						</Badge>
					))
				}
				{allTools.map((tool) => <Badge>{tool}</Badge>)}
			</div>
			{
				data.link && (
					<a
						class="not-prose hover:text my-[28px] block border-[1.5px] border-fi-base-100 bg-fi-base-50 px-[2em] py-[1em] font-adelle-sans text-fi-base-600 transition"
						href={data.link}
						target="_blank"
					>
						{data.toc && <h2 class="project-link">Consulter</h2>}
						<Fragment set:html={linkTitle || data.link.replace("https://", "")} />
						<Icon
							name="ic:baseline-launch"
							class="-mb-[0.1em] inline-block h-[0.9em] align-baseline"
						/>
					</a>
				)
			}
			{data.toc && <TableOfContents title="Sommaire" headings={headings} />}
			<Content />
		</article>
		{/* HACK: Sidenotes width */}
		<div class="min-w-[337px] xl:hidden"></div>
		<div class="grow mediumlarge:hidden"></div>
	</div>
</BaseLayout>

<GenerateSidenotes label="number" toggle={false} visible={false} removeFootnotes={true} />
